* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header {
  width: 100%;
  padding: 10px 10px;
  margin: 0%;
  overflow: hidden;
  background-color: #24c644;
  box-shadow: 2px 2px 15px black;
}
.logo,
p {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  padding-left: 5px;
  display: inline;
  color: white;
  text-shadow: 0px 0px 10px black;
}
.hd-signup {
  float: right;
  text-align: center;
}
.hd-signup button {
  padding: 5px;
  background-color: aqua;
  font-size: 18px;
  border-radius: 5px;
  border: 0;
}
